<section id="about">
	<div class="">
		<h1>מי אנחנו?</h1>
		<p>
			"במקום להילחם בחושך, עלינו להגביר את האור"
			בשומר הצעיר אנחנו מגבירים ומגבירות את האור כבר יותר מ 100 שנה!
			אנחנו מאמינים שיכולה להיות כאן חברה צודקת ושוויונית, שבה לכולם יש מקום.
			בואו לעורר השראה ולהיות דמויות משמעותיות עבור בני ובנות נוער ולעשות חינוך ערכי לתפיסת עולם של צדק, שוויון ואמונה באדם.
		</p>
		<img class="about-logo" src="assets/img/logo/white-half-logo-text.svg" alt="logo">

	</div>
	<div>
		<img class="down-logo" src="assets/img/logo/blue-logo.svg" alt="">
	</div>
</section>
