<section id="about">
	<div class="" >
		<h1 data-scroll="90" class="enter-right">מי אנחנו?</h1>
		<p data-scroll="90" class="enter-right"><strong>
				"במקום להילחם בחושך, עלינו להגביר את האור" (א. ד. גורדון)
			</strong><br>
			בשומר הצעיר אנחנו מגבירים ומגבירות את האור כבר יותר מ100 שנה! אנחנו מאמינים שיכולה להיות כאן חברה צודקת ושוויונית, שבה לכולם יש מקום. בואו למקום שבו אפשר לחלום בגדול, לעורר השראה ולהיות דמויות משמעותיות עבור בני ובנות נוער. 
<strong>בואו להיות מי שאתם ולעשות חינוך ערכי לתפיסת עולם של צדק, שוויון ואמונה באדם.</strong>
		</p>
		<hr>

		<img class="about-logo enter-left" src="assets/img/logo/white-half-logo-text.svg" data-scroll="80" alt="logo">
	</div>
	<div >
		<h1 data-scroll="90" class="enter-left">
			חיי קומונה
		</h1>
		<p data-scroll="90" class="enter-left">בקומונה אתם הולכים לחוות חיי שיתוף ועצמאות.
			אתם הולכים להכיר חברים וחברות, לגלות את עצמכם, ליצור קשרים עמוקים וכמובן להנות ביחד.
			תלמדו ביחד מגוון נושאים שיעשירו את עולמכם כגון: כלכלה וחברה, מגדר ומיניות, ציונות ונושאים רבים שיתנו לכם ולכן את הכלים להיות אנשים ומחנכים טובים יותר.
		</p>

		<img class="about-logo" src="assets/img/logo/white-half-logo-text.svg" alt="logo">
	</div>
	<img class="about-kids" src="assets/img/pic/about.webp" alt="about kids">
</section>
