<section id="contact">
	<div>
		<h1>הרשמה</h1>
		<p>מעוניינים/ות באחד המסלולים? <br>
		השאירו פרטי ונחזור אליכם/ן</p>
		<img class="mobile" src="assets/img/logo/white-half-logo-no-text.svg" alt="לוגו המסלולים">
		<img class="desktop" src="assets/img/logo/blue-logo-text.svg" alt="לוגו המסלולים">
		<button class="desktop-btn" type="button" name="button">
			<a href="">
				<img src="assets/img/whatsapp-blue.svg" alt="whatsapp logo">
				<span>שלחו הודעה</span>
			</a>
		</button>
	</div>
	<div class="desktop"></div>
	<div>
		<script type="text/javascript">var submitted=false;</script>

		<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='#contact';}"></iframe>

		<form  target="hidden_iframe" onsubmit="submitted=true;"
		action="https://docs.google.com/forms/d/e/1FAIpQLSf0kWRC8H1FSnL6ZJLl26aaFbfVYRbQvdJRaGdpRjIXhgTbTA/formResponse" method="post">
			<div class="">
				<div class="">
					<label for="name">שם</label>
					<input type="text" name="entry.714759491" value="" required>
				</div>
				<div class="">
					<label for="address">כתובת</label>
					<input type="text" name="entry.1191809233" value="" required>
				</div>
				<div class="">
					<label for="entry.1846822510">טלפון</label>
					<input type="number" name="entry.1846822510" value="" required>
				</div>
				<div class="">
					<label for="email">מייל</label>
					<input type="email" name="entry.866560517" value="" required>
				</div>
				<div class="">
					<label for="interesting">המסלול שהכי מעניין אותי</label>
					<select name="entry.1437768934" value="" required>
						<option disabled selected value></option>
					  <option value="מסלול קיום משותף">מסלול קיום משותף</option>
					  <option value="מסלול צדק חברתי">מסלול צדק חברתי</option>
					  <option value="מסלול קיבוצי">מסלול קיבוצי</option>
					  <option value="מסלול נחשונים">מסלול נחשונים</option>
					</select>
					<!-- <input type="select" name="entry.1437768934" value="" required> -->
				</div>
				<div class="">
					<label for="second-interesting">מסלול נוסף שמעניין אותי</label>
					<select name="entry.1192345231"  >
						<option disabled selected value></option>
					  <option value="מסלול קיום משותף">מסלול קיום משותף</option>
					  <option value="מסלול צדק חברתי">מסלול צדק חברתי</option>
					  <option value="מסלול קיבוצי">מסלול קיבוצי</option>
					  <option value="מסלול נחשונים">מסלול נחשונים</option>
					</select>
					<!-- <input type="select" name="entry.1192345231" value="" required> -->
				</div>
			</div>
			<input type="submit" name="submit" value="הרשמה" >
			<div class="">
				תודה! <br> ניצור איתך קשר בהקדם
			</div>
		</form>
		<button class="mobile" type="button" name="button">
			<a href="">
				<img src="assets/img/whatsapp-blue.svg" alt="whatsapp logo">
				<span>שלחו הודעה</span>
			</a>
		</button>
	</div>
</section>
