<section id="contact">
	<div>
		<h1>הרשמה</h1>
		<p>מעוניינים/ות באחד המסלולים? <br>
		השאירו פרטי ונחזור אליכם/ן</p>
		<img class="mobile" src="assets/img/logo/white-half-logo-no-text.svg" alt="לוגו המסלולים">
		<img class="desktop" src="assets/img/logo/blue-logo-text.svg" alt="לוגו המסלולים">
		<button class="desktop-btn" type="button" name="button">
			<a href="">
				<img src="assets/img/whatsapp-blue.svg" alt="whatsapp logo">
				<span>שלחו הודעה</span>
			</a>
		</button>
	</div>
	<div class="desktop"></div>
	<div>
		<form action="index.html" method="post">
			<div class="">
				<div class="">
					<label for="name">שם</label>
					<input type="text" name="name" value="">
				</div>
				<div class="">
					<label for="address">כתובת</label>
					<input type="text" name="address" value="">
				</div>
				<div class="">
					<label for="phone">טלפון</label>
					<input type="tel" name="phone" value="">
				</div>
				<div class="">
					<label for="email">מייל</label>
					<input type="email" name="email" value="">
				</div>
				<div class="">
					<label for="interesting">המסלול שהכי מעניין אותי</label>
					<input type="select" name="interesting" value="">
				</div>
				<div class="">
					<label for="second-interesting">מסלול נוסף שמעניין אותי</label>
					<input type="select" name="second-interesting" value="">
				</div>
			</div>
			<input type="submit" name="submit" value="הרשמה" >
		</form>
		<button class="mobile" type="button" name="button">
			<a href="">
				<img src="assets/img/whatsapp-blue.svg" alt="whatsapp logo">
				<span>שלחו הודעה</span>
			</a>
		</button>
	</div>
</section>
