
<div id="vimeo"
	style="padding:56.25% 0 0 0;position:relative;">
	<iframe
	src="https://player.vimeo.com/video/466166016?autoplay=1&loop=1&muted=1"
	style="position:absolute;top:0;height:100%;"
	frameborder="0"
	allow="autoplay; fullscreen"
	allowfullscreen>
	</iframe>
	</div>
<!-- <div style="height:50vh;background:grey;">

</div> -->
	<section id="hero">
	<div class="">
		<a href="#contact">הרשמה</a>
		<p>ציטוט יפה וקצר	<br>
			של מישהי משנה שעברה
			(השם שלה)</p>
		</div>
</section>
<script src="https://player.vimeo.com/api/player.js" defer>
</script>
