<section id="kibbutzi">
	<img class="desktop" src="assets/img/pic/kibbutzi.png" alt="קיבוצי">
	<div class="">
		<h1>מסלול קיבוצי</h1>
		<p>
			עבודה חינוכית וחלוצית בקיבוצי התנועה בפריפריה.
קיבוצי השומר הצעיר קמו במטרה לחיות אורח חיים ציוני,שיתופי בזיקה לטבע בארץ ישראל, ואנחנו ממשיכי דרכם.
		</p>
		<img class="mobile" src="assets/img/svg/mobile/kibbutzi.svg" alt="קיבוצי">
	</div>
	<div class="">
		<img class="mobile" src="assets/img/pic/mobile/kibbutzi.png" alt="קיבוצי">
		<img class="desktop" src="assets/img/svg/desktop/kibbutzi.svg" alt="קיבוצי">

	</div>

</section>
