<section id="kibbutzi">
	<img class="desktop" src="assets/img/pic/kibbutzi.webp" alt="קיבוצי">
	<div class="">
		<h1 data-scroll="80" class="enter-left">מסלול קיבוצי</h1>
		<p data-scroll="80" class="enter-left">אם את\ה מחפש שנה של עשייה קהילתית, חלוצית וחינוכית זה המקום בשבילך!
בואו להדריך ולחנך בקיבוצי התנועה בפריפריה.
קיבוצי השומר הצעיר קמו במטרה לחיות אורח חיים ציוני,שיתופי בזיקה לטבע בארץ ישראל, ואנחנו ממשיכי דרכם. בואו לעבוד עם הנוער, הקהילה והטבע.
		</p>
		<hr>
		<ul data-scroll="80" class="enter-left">
			<li>
				שנת של השתלבות בחיי הקהילה והטבע הקיבוצי.
			</li>
			<li>
				להיות הלב של החינוך התנועתי בקיבוץ -הדרכת פעולות,חינוך ערכי, ליווי המדריכים, טיולים ועוד.
			</li>
			<li>
				עבודה בענפי הקיבוץ השונים-חקלאות, נוי, גן ילדים ועוד
			</li>
			<li>
				חיבור לאנשים ולקהילה-הובלת פרוייקטים שנועדו ליצור מפגשים וחיי תרבות.
			</li>
		</ul>

		<img class="mobile" src="assets/img/svg/mobile/kibbutzi.svg" alt="קיבוצי">
	</div>
	<div class="">
		<img class="mobile" src="assets/img/pic/mobile/kibbutzi.webp" alt="קיבוצי">
		<img class="desktop" src="assets/img/svg/desktop/kibbutzi.svg" alt="קיבוצי">

	</div>

</section>
