<section id="meshutaf">
	<div class="">
		<h1>מסלול קיום משותף</h1>
		<p>בתוך מציאות של הפרדה וניכור אנחנו מאמינים שדרך מפגש אפשר לייצר שינוי אמיתי ולקיים מנהיגות ערבית יהודית משותפת וליצור בחברה אלטרנטיבה של תקווה. 
בואו לחנך צדק, שוויון ושלום קבוצות של בני ובנות נוער יהודים וערבים המצליחות להיות נקודות אור 
בחברה הישראלית.
		</p>
<hr>
		<ul>
			<li>
				הדרכת קבוצות בתנועה - הדרכת פעולות, ליווי מדריכים וכו.
			</li>
			<li>
				למידת השפה והעולם הערבי מתוך מפגש שווה וחיבור.
			</li>
			<li>
				יצירת פרוייקטים מקומיים של חיבור ומפגש בין ערבים ויהודים.
			</li>
			<li>
				להכיר עוד שותפים לעשייה ולקבל כלים מנהיגותיים.
			</li>
		</ul>

		<img class="mobile" src="assets/img/svg/mobile/meshutaf.svg" alt="קיום משותף איור">
	</div>
	<div >
		<img src="assets/img/pic/meshutaf.webp" alt="קיום משותף תמונה">
		<img class="desktop" src="assets/img/svg/desktop/meshutaf.svg" alt="קיום משותף איור">

	</div>
</section>
