<section id="meshutaf">
	<div class="">
		<h1>מסלול קיום משותף</h1>
		<p>
			בתוך מציאות של הפרדה וניכור, להצליח להיות במנהיגות ערבית יהודית משותפת וליצור אלטרנטיבה של יחד. עבודה חינוכית בתוך קני התנועה בדגש על יצירת שותפות ומתן כלים ליצירת מפגש.
הקבוצות בקן עוברות חינוך ערכי על צדק, שוויון ושלום. ונפגשות עם קבוצות של בני ובנות נוער ערביים המצליחות להיות נקודות אור בחברה הישראלית.
		</p>
		<img src="assets/img/svg/mobile/meshutaf.svg" alt="קיום משותף איור">
	</div>
	<img src="assets/img/pic/meshutaf.png" alt="קיום משותף תמונה">
</section>
