<section id="nachshonim">
	<div>
		<h1>מסלול נחשונים</h1>
		<p>
			בתי הנוער נחשונים מוקמים בשכונות מוחלשות ברחבי הארץ.
הילדים מגיעים לנחשונים אחר הצהריים ושם הם פוגשים דמויות חינוכיות משמעותיות אשר מלוות אותם לאורך השנים ומעבירות להם חינוך ערכי שמטרתו היא מתן כלים להתפתחות החניכים.
הפעילות בבתי הנוער מתקיימת באופן חווייתי- קבוצות, משחקים, יצירה, טיולים, למידה חווייתית, סיורים, סדנאות וחוגים.
		</p>
		<img src="assets/img/svg/mobile/nachshonim.svg" alt="איור צדק חברתי">
	</div>
	<img src="assets/img/pic/nachshonim.png" alt="צדק חברתי">
</section>
