<section id="nachshonim">
	<img class="desktop" src="assets/img/pic/nachshonim.webp" alt="נחשונים">
	<div>
		<h1>מסלול נחשונים</h1>
		<p>
			בתי הנוער נחשונים פועלים בשכונות מוחלשות ברחבי הארץ.
הילדים באים למקום שהוא הבית השני עבורם, בו יש דמויות משמעותיות אשר מלוות אותם לאורך השנים, דרך חינוך ערכי, ומתן כלים להתפתחות החניכים.
הפעילות בבתי הנוער מתקיימת באופן חווייתי - קבוצות, משחקים, יצירה, טיולים,סיורים, סדנאות,חוגים ועוד.
		</p>
		<hr>
		<p>
			<ul>
				<li>
					יצירת מנהיגות בשכונות- לתת לחניכים את הכלים והכישורים הדרושים להם.
				</li>
				<li>
					להיות אח/ות בוגר/ת-להוות דוגמא אישית,חשיפה לתכנים חדשים,הדרכת קבוצות ויצירת קשרים אישיים.
				</li>
				<li>
					הקפת עולם החניך-. עבודה בבתי הספר,בבתי הנחשונים, קשר עם המשפחות ודמויות נוספות.
				</li>
				<li>
					להאמין בהם!
				</li>
			</ul>
		</p>
		<img class="mobile" src="assets/img/svg/mobile/nachshonim.svg" alt="נחשונים">
	</div>
	<div class="">
		<img class="mobile" src="assets/img/pic/nachshonim.webp" alt="נחשונים">
		<img class="desktop" src="assets/img/svg/desktop/nachshonim.svg" alt="נחשונים">
	</div>
</section>
