<nav>
	<div>
		<a href="#"><img src="assets/img/logo/white-logo.svg" alt="logo"></a>
		<button class="menu">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
	<div class="">
		<a href="#nachshonim">קהילה</a>
		<a href="#kibbutzi">קיבוצי</a>
		<a href="#social-justice">צדק חברתי</a>
		<a href="#meshutaf">קיום משותף</a>
		<a href="#contact">
			<button type="button" name="button">
			הרשמה
		</button>
	</a>
	</div>
</nav>


<script type="text/javascript">
	const menu = document.querySelector("div + div")
	const btn = document.querySelector("div button")
	btn.addEventListener("click", () => {
		console.log("btn");
		menu.classList.toggle("show")
		// setTimeout(function () {
		// 		menu.classList.toggle("auto")
		// }, 200);
	})
	document.addEventListener("click", e => {
		let target = e.target
		let children = Array.from(btn.children)

		if (target != menu && target != btn && !children.includes(target)) {
			menu.classList.remove("show")
		}
	})
</script>
