<section id="social-justice">
	<div class="">
		<h1>מסלול צדק חברתי</h1>
		<p>
			עבודה חינוכית ואקטיביסטית בקני התנועה בירושלים(משהו מגניב לתאר את ירושלים כעיר אקטיביסטית, שקורה בה הרבה…)
	בקנים הנערים והנערות מתחנכים/ות בקבוצות אינטימיות והן מקום ליצירת קשרים משמעותיים ותרבות נעורים אחרת. דרך חשיפה לתכנים על המציאות (-לא בטוחה במשפט הזה..) החניכים יוצאים כדי לשנות את מה שחשוב להם בשכונה ובחברה.
		</p>
		<img src="assets/img/svg/mobile/social-justice.svg" alt="איור צדק חברתי">
	</div>
	<img src="assets/img/pic/mobile/social-justice.png" alt="צדק חברתי">
</section>
