<section id="social-justice">
	<img class="desktop" src="assets/img/pic/social-justice.webp" alt="צדק חברתי">
	<div class="">
		<h1>מסלול צדק חברתי</h1>
		<p>קשה לעמוד מהצד כשאתם\ן רואים\ות אי צדק? המסלול הזה הוא בשבילכם\ן! 
מחנכים\ות אקטיביסטים\ות בירושלים - העיר בה הקסם מתחולל!
הנערים והנערות בתנועה מתחנכים בקבוצות אינטימיות, והן מקום ליצירת קשרים משמעותיים ותרבות נעורים אחרת. דרך תכנית הכשרה למנהיגות, החניכים, בעזרתכם יוצאים כדי לשנות את מה שחשוב להם בשכונה ובחברה.
		</p>
		<hr>
		<ul>
			<li>
				תעברו קורס "מובילי צדק חברתי" בו תרכשו כלים למנהיגות, וליצירת מאבקים ברמה המקומית והמדינית.
			</li>
			<li>
				הדרכת קבוצות של ילדים ובני נוער אקטיביסטים - יצירת חברת נעורים שמקדמת שוויון, הדרכת פעולות, ליווי מדריכים, ויצירת מרכז תרבותי וחינוכי.
			</li>
			<li>
				פיתוח קהילתיות,ערבות הדדית ויצירת מפגשים בתוך השכונה עצמה.
			</li>
		</ul>
		<img class="mobile" src="assets/img/svg/mobile/social-justice.svg" alt="איור צדק חברתי">
	</div>
	<div class="">
		<img class="mobile" src="assets/img/pic/mobile/social-justice.webp" alt="צדק חברתי">
		<img class="desktop" src="assets/img/svg/desktop/social-justice.svg" alt="צדק חברתי">
	</div>
</section>
