@font-face {
    font-family: 'Abraham';
    src: url('/assets/fonts/AbrahamMedium.eot');
    src: url('/assets/fonts/AbrahamMedium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AbrahamMedium.woff2') format('woff2'),
        url('/assets/fonts/AbrahamMedium.woff') format('woff'),
        url('/assets/fonts/AbrahamMedium.ttf') format('truetype'),
        url('/assets/fonts/AbrahamMedium.svg#AbrahamMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Abraham';
    src: url('/assets/fonts/AbrahamThin.eot');
    src: url('/assets/fonts/AbrahamThin.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AbrahamThin.woff2') format('woff2'),
        url('/assets/fonts/AbrahamThin.woff') format('woff'),
        url('/assets/fonts/AbrahamThin.ttf') format('truetype'),
        url('/assets/fonts/AbrahamThin.svg#AbrahamThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abraham';
    src: url('/assets/fonts/Abraham-Regular.eot');
    src: url('/assets/fonts/Abraham-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Abraham-Regular.woff2') format('woff2'),
        url('/assets/fonts/Abraham-Regular.woff') format('woff'),
        url('/assets/fonts/Abraham-Regular.ttf') format('truetype'),
        url('/assets/fonts/Abraham-Regular.svg#Abraham-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abraham';
    src: url('/assets/fonts/Abraham-Light.eot');
    src: url('/assets/fonts/Abraham-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Abraham-Light.woff2') format('woff2'),
        url('/assets/fonts/Abraham-Light.woff') format('woff'),
        url('/assets/fonts/Abraham-Light.ttf') format('truetype'),
        url('/assets/fonts/Abraham-Light.svg#Abraham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Abraham';
    src: url('/assets/fonts/Abraham-Bold.eot');
    src: url('/assets/fonts/Abraham-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Abraham-Bold.woff2') format('woff2'),
        url('/assets/fonts/Abraham-Bold.woff') format('woff'),
        url('/assets/fonts/Abraham-Bold.ttf') format('truetype'),
        url('/assets/fonts/Abraham-Bold.svg#Abraham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abraham';
    src: url('/assets/fonts/Abraham-Black.eot');
    src: url('/assets/fonts/Abraham-Black.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Abraham-Black.woff2') format('woff2'),
        url('/assets/fonts/Abraham-Black.woff') format('woff'),
        url('/assets/fonts/Abraham-Black.ttf') format('truetype'),
        url('/assets/fonts/Abraham-Black.svg#Abraham-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
