
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
	overflow-x: hidden;
	> div:first-child{
		overflow-x: hidden;
	}
}


a{
	color: white;
	text-decoration: none;
}
h1{
	@include desktop{
		font-size: 5rem;
	}
}
p{
	// font-size: 2rem !important;
}
hr{
	background: white;
	height: 7px;
	margin-bottom: 2rem;
	border: none;
	// z-index: 9;
	@include desktop{
		width: calc(40% + 2rem);
		// max-width: 500px;

	};
}
.enter-left,
.enter-right,
.enter-top{
	transition: transform 500ms, opacity 500ms;
	opacity: 0

}
.enter-left{
	transform: translateX(-100px);
}
.enter-right{
	transform: translateX(100px);
}
.enter-top{
	transform: translateY(-100px);
	@include desktop{
		transform: translateY(-30px);

	};

}

.in-view{
	transform: translate(0,0);
	opacity: 1;
}
.none{
	display: none !important;
}
#vimeo{
	height: 60vh;
	@include desktop{
		height: auto;
	};
}
iframe{
	margin-top: 50px;
	width: 200vw;
	left: -50%;
	@include desktop{

		width: 100%;
		left: 0;
	};
}
