section#hero{
	// position: absolute;
	// z-index: 10;
	// bottom: 0;
	// width: 100vw;
	// // height: 5vh;
	background: white;
	@include desktop{
		margin-top: -30vh;

	};
	div:first-of-type{
		@include desktop{
			padding: 0 10vw;
			flex-direction: row;
		};
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		// padding-top: 0;
		a{
			background: $blue;
			padding: 1rem;
			font-size: 2rem;
			font-weight: bold;
			border: none;
			border-radius: 3px;
			width: 100%;
			text-align: center;
			transition: background 200ms, box-shadow 100ms;
			// align-self: flex-end;
			@include desktop{
				// align-self: center;
				width: 20%;
				font-size: 3rem;
			};

		}
		a:hover,
		a:focus{
			box-shadow: 0px 4px 2px 1px rgba(0,0,0,0.3);
			transform: translateY(-3px);
			background: white;
			color: $blue;
		}
		p{
			width: 100%;
			// margin: .7rem 1rem;
			color: $blue;
			text-align: right;
			@include desktop{
				width: 50%;
				font-size: 3rem;
				margin: 0;
			};
			// white-space: pre;
		}
	}

}
