


section#kibbutzi{
	@include desktop {
		position: relative;
		img:first-of-type{
			position: absolute;
			height: 100%;
			right: 0;
			z-index: 1;
		}

	}
	div:first-of-type{
		background-color: $green;
		position: relative;

		@include desktop {
			display: flex;
			align-items: flex-end;
			// padding-left: 8rem;


		}
		img{
			margin-top: 0%;
			// position: absolute;
			// top: -15%;
			// left: 0;
			width: 120%;
			// background: white;
			background-position: 10% 10%;
			// background-size: auto;
			// margin-top: -83%;
		}
	}
	div:last-of-type{
		img{
			width: 90%;
			margin-top: -40%;
			margin-right: 10%;
			@include desktop{
				margin-top: -35%;
				z-index: -1;
			}
			// background: white;
			// transform: translateY(10%);
		}

	}
}
