@import "fonts";

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Abraham";

$blue: #4D58C3;
$pink: #C14DC3;
$red: #d03854;
$green: #4dc367;
$light-blue: #65a6d6;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;

}


nav{
	background: $blue;
}

ul{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 5vw 0 5vw;
}
a{
	color: white;
	text-decoration: none;
}

section{
	display: flex;
	flex-direction: column;
	position: relative;
	color: white;


	h1{
		font-size: 3rem;
		margin-bottom: 1rem;
	}
	p{
		font-size: 2rem;
		line-height: 1.5;
		margin-bottom: 2rem;
	}
}
section#about{
	background-color: $blue;
	padding: 2rem 2rem;

	img{
		width: 60%;
		align-self: center;
	}
}
section#meshutaf,
section#social-justice,
section#kibbutzi,
section#nachshonim,
section#contact
{
	div{
		padding: 2rem 2rem 0 2rem;
		width: 100%;
		display: flex;
		flex-direction: column;

		img{
			width: 120%;
			align-self: center;
			transform: translateY(10%);
			z-index: 0;
		}
	}
	div + img{
		width: 110%;
		margin-top: -50%;
		align-self: baseline;
		z-index: 1;
		// position: absolute;
		// bottom: 0;
		// right: 0;
	}
}
section#meshutaf	div{
		background-color: $pink;
}

section#social-justice div{
	background-color: $red;
}
section#kibbutzi{
	div{
		background: url("/assets/img/svg/mobile/kibbutzi.svg");
		background-color: $green;
		background-size: cover;
		background-position: 0 10%;
		padding-bottom: 50%;
	}
	// img{
	// 	width: 100%;
	// 	// transform: translateY(10%);
	// }
}
section#nachshonim{
	div{
		background-color: $light-blue;
		img{
			margin-top: -50%;
			width: 110%;
			transform: translateY(50%);
		}
	}
	div + img{
		width: 100%;
		margin-top: -30%;
		margin-left: 15%;
		align-self: center;
	}
}
section#contact{
	// height: 100vh;
	background-color: $blue;
	div:first-child{
		display: grid;
		grid-template-areas:
		"h1 logo"
		"p logo";
		h1{
			grid-area: h1;
		}
		p{
			grid-area: p;
		}
		img{
			grid-area: logo;
		}
	}
	div + div{
		background: white;

		form{
			background: $blue 
		}
	}
}
// footer{
// 	height: 10vh;
// 	back
// }
