
section#meshutaf{
	 > div:first-of-type{
		background-color: $pink;
		@include desktop {
			
			align-items: flex-end;
			padding-left: 8rem;
			h1,
			p{
				width: 40%;
				max-width: 500px;
			}
		}
	}
	> div:last-of-type{
		img:first-child{
			width: 110%;
			margin-top: -50%;
			align-self: baseline;
			z-index: 1;
		}
		@include desktop {
			img{
				position: relative;
				display: block;
			}
			img:first-child{
				// width: 60%;
				height: 100%;
				// max-width: 700px;
				// margin-top: -30%;
				align-self: baseline;
				position: absolute;
				z-index: 1;
				bottom: 0;
				width: initial;
				margin-top: 0;
				align-self: auto;

			}
			// img:first-child{
			// @include desktop {
			// 	width: 110%;
			// 	margin-top: -50%;
			// 	align-self: baseline;
			// 	z-index: 1;
			// }
				// bottom: 0;
				// right: 0;

			img:last-child{
				width: 100%;
				display: block;
				margin-top: -4%;
			}

		}
	}

}
