
section#nachshonim{
	@include desktop {
		position: relative;
		img:first-of-type{
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}
	 div:first-of-type{
		 @include desktop {
 			display: flex;

 			display: flex;
 			align-items: flex-start;
 			// padding: 2rem	5vw;
 			h1,
 			p{
 				width: 40%;
 				max-width: 500px;
				z-index: 1;
 			}
 			img.desktop{
 				position: absolute;
 				top: 0;
 				width: 50%;
 				left: 0;
 			}

 		}
		background-color: $light-blue;
		img{
			margin-top: -40%;
			width: 110%;
			transform: translateY(50%);
		}
	}
	div:last-of-type{
		@include desktop {
			img:last-child{
				width: 60%;
				margin-top: -10%;
				z-index: 0;
			}
		}
		img{
			width: 100%;
			margin-top: -20%;
			margin-left: 15%;
			align-self: center;
		}
	}
}
