section{
	display: flex;
	flex-direction: column;
	position: relative;
	color: white;

	@include desktop{
		// padding: 0 100px;
	};
	h1{
		font-size: 5rem;
		margin-bottom: 1rem;
	}
	p,
	ul{
		font-size: 2rem;
		line-height: 1.5;
		margin-bottom: 2rem;
	}
	ul{
		list-style: inside;
		z-index: 1;
		@include desktop{
			width: 40%;
			max-width: 500px;
		};
	}
}
.desktop{
	display: none !important;
}
@include desktop {
	.mobile{
		display: none !important;
	}
	.desktop{
		display: block !important;
	}
}

section#about,
section#meshutaf,
section#social-justice,
section#kibbutzi,
section#nachshonim,
section#hero,
section#contact
{
	scroll-margin-top: 50px;
	> div:first-of-type{
		padding: 2rem 2vw 0 2vw;
		width: 100%;
		display: flex;
		flex-direction: column;
		@include desktop {
			display: flex;
			justify-content: center;
			padding: 2rem	10vw;
			min-height: 30vh;
		}
		> img{
			width: 120%;
			align-self: center;
			transform: translateY(10%);

		}
		h1,
		p{
			@include desktop{
				width: 40%;
				max-width: 500px;

			};
		}
	}
	> div:last-of-type{
		img{
			position: relative;
			display: block;
		}

	}
}
