section{
	display: flex;
	flex-direction: column;
	position: relative;
	color: white;


	h1{
		font-size: 3rem;
		margin-bottom: 1rem;
	}
	p{
		font-size: 2rem;
		line-height: 1.5;
		margin-bottom: 2rem;
	}
}
.desktop{
	display: none !important;
}
@include desktop {
	.mobile{
		display: none !important;
	}
	.desktop{
		display: block !important;
	}
}

section#about,
section#meshutaf,
section#social-justice,
section#kibbutzi,
section#nachshonim,
section#hero,
section#contact
{
	> div:first-of-type{
		padding: 2rem 2rem 0 2rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		@include desktop {
			display: flex;
			justify-content: center;
			padding: 2rem;
			min-height: 30vh;
		}
		> img{
			width: 120%;
			align-self: center;
			transform: translateY(10%);

		}

	}
	> div:last-of-type{
		img{
			position: relative;
			display: block;
		}

	}
}
